@import url('../utils/layout.css');
@import url('../utils/form.css');
@import url('../utils/dialog.css');
@import url('../utils/colors.css');
@import url('../utils/typography.css');

main {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1280px) {
  main {
    max-width: 1280px;
    margin: 0 auto;
  }
}

header {
  width: 100%;
  margin-top: 32px;
  margin-left: 24px;
}

aside {
  flex: 1;
  min-width: 325px;
}

section {
  flex: 3;
}

article {
  border: 1px solid var(--border);
  min-width: 500px;
}

@media only screen and (max-width: 550px) {
  aside {
    flex: auto;
    width: 100%;
  }

  section {
    flex: auto;
    overflow: auto;
  }
}

/* grid config for goal list */
.goal-list {
  grid-template-columns: 3fr 3fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 4px;
}

.grid-content {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-row {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr;
}
/* grid config for goal list */