/* display flex */
.display-flex {
  display: flex
}

.space-between {
  justify-content: space-between
}

.align-center {
  align-items: center;
}
/* display flex */

/* display grid */
.grid-container {
  display: grid;
}

.strong-item {
  font-weight: 900;
}

.action-item {
  cursor: pointer;
}

.grid-header {
  color: var(--border);
}

.grid-header, .grid-item {
  border-bottom: 1px solid var(--border);
  padding: 4px 0 6px;
}

.grid-footer {
  padding-top: 4px;
}
/* display grid */

/* spacing */
.width-100 {
  width: 100%;
}

.width-25 {
  width: 25%;
}

.padding-3 {
  padding: 24px;
}

.margin-3 {
  margin: 24px;
}

.margin-y-3 {
  margin: 24px 0;
}
/* spacing */

/* alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
/* alignment */